.app {
  width: 100%;
  padding: 24px;
}

.app-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.css-1nrlq1o-MuiFormControl-root {
  width: max(15%, 150px);
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 150px;
}

.table {
  background: rgb(241, 241, 241);
  padding: 1em;
  border-radius: 12px;
}

.grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 4px;
  background: white;
}

.date-cell {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  align-items: center;
  height: 68px;
  width: max(15%, 150px);
}

.date-row {
  display: flex;
  align-items: center;
}

.hours-cell {
  display: flex;
}

.timepickers {
  display: flex;
  align-items: center;
}

.timepicker {

  margin-right: 8px;
}

.hours-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hours-row {
  display: flex;
  align-items: flex-start;
}

.total-hours {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}


/* Buttons */

.btn {
  padding: 12px;
}

.btn-hours {}

.btn-hours img {
  width: 18px;
}